.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.table{
  width: 90%;
  height: 100%;
  display:block;
  align-items: justify;
  table-layout:auto;
}

.table-price {
  width: 120px;    
}

.table-data td{
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.PageHeading    
{    
  margin-top: 10px;    
  margin-bottom: 10px;    
  color :black !important;    
}  

.error {
  color:#db2269;
  float: left;
}